<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prchoe.androidexam" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".layout.FrameLayoutActivity"
            android:label="@string/title_activity_frame_layout" >
        </activity>
        <activity
            android:name=".mission.Mission01Activity"
            android:label="@string/title_activity_mission01" >
        </activity>
        <activity
            android:name=".mission.Mission02Activity"
            android:label="@string/title_activity_mission02" >
        </activity>
        <activity
            android:name=".mission.mission03.Mission03Activity"
            android:label="@string/title_activity_mission03" >
        </activity>
        <activity
            android:name=".mission.mission03.Mission03_menuActivity"
            android:label="Mission03_menuActivity" >
        </activity>
        <activity
            android:name=".activity.ActivityExamActivity"
            android:label="@string/title_activity_activity_exam" >
        </activity>
        <activity
            android:name=".activity.TargetActivity"
            android:label="@string/title_activity_target" >
        </activity>
        <activity
            android:name=".mission.Mission05Activity"
            android:label="@string/title_activity_mission05" >
        </activity>
        <activity
            android:name=".mission.MissionExtra01Activity"
            android:label="@string/title_activity_mission_extra01" >
        </activity>
        <activity
            android:name=".mission.Mission06Activity"
            android:label="@string/title_activity_mission06" >
        </activity>
        <activity
            android:name=".activity.WebActivity"
            android:label="@string/title_activity_web" >
        </activity>
        <activity
            android:name=".mission.mission_extra_02.MissionExtra02Activity"
            android:label="@string/title_activity_mission_extra02" >
        </activity>
        <activity android:name=".animation.AnimationActivity" />
        <activity
            android:name=".calendar.CalendarActivity"
            android:label="@string/title_activity_calendar" >
        </activity>
        <activity android:name=".calendar2.Calendar2Activity" />
        <activity
            android:name=".mission.mission_extra_03.MissionExtra03Activity"
            android:label="@string/title_activity_mission_extra03" >
        </activity>
        <activity
            android:name=".thread.ThreadActivity"
            android:label="@string/title_activity_thread" >
        </activity>
        <activity
            android:name=".parsing.json.WeatherActivity"
            android:label="@string/title_activity_weather" >
        </activity>
        <activity
            android:name=".fragment.FragmentActivity"
            android:label="@string/title_activity_fragment" >
        </activity>
        <activity android:name=".viewpager.ScreenSlideActivity" />
        <activity android:name=".receiver.BroadcastActivity" />

        <activity
            android:name=".graphic.GraphicActivity"
            android:label="@string/title_activity_graphic" >
        </activity>

        <activity android:name=".database.LoginActivity"/>
        <activity android:name=".database.SignUpActivity"/>

        <receiver
            android:name=".receiver.MyReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_LOW" />
                <action android:name="ANDROID.INTENT.ACTION.AIRPLANE_MODE" />
                <action android:name="android.intent.action.MY_BROADCAST" />
            </intent-filter>
        </receiver>


    </application>

</manifest>
